nav.navbar {
  background-color: #940000;
}

div.pembina {
  width: 375px;
  margin: auto;
}

p.top {
  border: 10px solid white;
  font-size: x-large;
  border-radius: 20px;
  background-color: white;
  color: #940000;
}

p.judul {
  border: 10px solid white;
  border-radius: 20px;
  background-color: white;
  color: #940000;
  margin-top: 300px;
}

section#members {
  background-color: #940000;
  color: white;
}

section#members h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 30px;
}
